/* Jennifer Thomas, CSD340 module 7.3, 09/18/21 */

#image-gallery {
    margin-top: 5%;
    display: grid;
    grid-template-columns: auto auto auto;
}

#image-gallery-vertical {
    margin-top: 5%;
    display: grid;
    grid-template-columns: auto 50%;
}

img {
    width: 400px;
    height: 400px;
}

#portrait {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

figure {
    text-align: center;
}

figcaption {
    font-style: italic;
    font-size: .75em;
}


h1 {
    font-family: 'Merriweather', serif;
    color: #f2bf91;
    text-align: center;
    font-weight: 400;
}

h3, figcaption {
    font-family: 'Merriweather', serif;
    color: #e99042;
    text-align: center;
    font-weight: 400;
}


figcaption a {
    font-family: 'Merriweather', serif;
    color: #41a8bf;
    text-align: center;
    font-weight: 400;
 }


figcaption a:hover {
    font-family: 'Merriweather', serif;
    text-align: center;
    font-weight: 200;
    text-decoration: underline overline;
}

.description {
    font-family:'Merriweather', serif;
    text-align: left;
    font-weight: 400;
    margin-left: 5%;
}

.description-vert {
    font-family:'Merriweather', serif;
    text-align: left;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#navbar {
    font-family:'Open Sans', sans-serif;
    overflow: hidden;
    background-color: #3c4c59;
    border-bottom: 15px solid #41a8bf;
}

#navbar a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #b0d1d9;
    color: #3c4c59;
}

#bio {
    font-family: 'Merriweather', serif;
    color: #3c4c59;
    text-align: justify;
    font-weight: 400;
    margin: 2%;
}

header {
    background-color: #3c4c59;
    padding: 10px;
    text-align: center;
}